<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Connexion à l'administration</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <style>
        body {
            display: flex;
            justify-content: center;
            height: 100vh;
        }
        .card {
            margin-top: 10%;
        }
    </style>
</head>
<body>
    <div class="col-md-4">
        <div class="card bg-light">
            <div class="card-header">
                <h4 class="card-title">
                    <i class="fas fa-lock"></i>
                    Connexion
                </h4>
            </div>
            <div class="card-body">
                {% if hasError %}
                    <div class="alert alert-warning">Les informations saisies sont incorrectes</div>
                {% endif %}
                <form method="post">
                    <div class="form-group">
                        <label for="_username">Email</label>
                        <input type="text" class="form-control" placeholder="adresse email..." name="_username" value="{{ username }}">
                    </div>
                    <div class="form-group">
                        <label for="_password">Mot de passe</label>
                        <input type="password" class="form-control" placeholder="mot de passe..." name="_password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-lock-open"></i>
                            Connexion
                        </button>
                        <a href="{{ path('home') }}" class="btn btn-link">
                            <i class="fas fa-arrow-circle-left"></i>
                            Retour au site
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>