{% extends 'base.html.twig' %}

{% block title %}Modifier du profil{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="my-5">Modification du profil</h1>
        <div class="form-group">
            {{ form_start(formAccount) }}
            {{ form_widget(formAccount) }}

            <button type="submit" class="btn btn-primary">Sauvegarder modifications</button>

            {{ form_end(formAccount) }}
        </div>
    </div>

{% endblock %}