{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="my-5">Inscrivez vous sur notre site !</h1>

        {{ form_start(formRegistration) }}
        {{ form_widget(formRegistration) }}

        <button type="submit" class="btn btn-success">Confirmation</button>

        {{ form_end(formRegistration) }}
    </div>

{% endblock %}