{% extends 'base.html.twig' %}

{% block title %}Modification mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modification du mot de passe</h1>
        <div class="form-group">
            {{ form_start(formUpdate) }}
            {{ form_widget(formUpdate) }}
            <button type="submit" class="btn btn-primary">Modifier le mot de passe</button>
            {{ form_end(formUpdate) }}
        </div>
    </div>


{% endblock %}