{% extends 'base.html.twig' %}

{% block title %}Symfbnb{% endblock %}

{% block body %}
    <div class="container">
        <section class="jumbotron mt-5">
            <h1 class="display-3">Bienvenue sur Symfbnb !</h1>
            <p class="lead">Nous mettons en relation les voyages et les propriétaires de biens exceptionnels en location.</p>
            <hr class="my-4">
            <p>Envie de passer le weekend dans un logement insolite ? Vous êtes au bon endroit !</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
            </p>
        </section>
        <section>
            <h2 class="h1 mt-3 mb-4">Nos coups de coeur</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            1 chambre, <strong>125€/nuit</strong> <br>
                            <small>0 avis</small>
                        </div>
                        <img class="img-card" src="http://placehold.it/1000x400" alt="appartement igloo" title="appartement igloo" width="1000" height="400">
                        <div class="card-body">
                            <h4 class="card-title">Dormir dans un igloo !</h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias error eveniet libero magni optio porro quasi recusandae, reprehenderit unde voluptatem.
                            </p>
                            <a href="#" class="btn btn-secondary">En savoir +</a>
                        </div>
                    </div>
                </div><div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            2 chambres, <strong>99€/nuit</strong> <br>
                            <small>0 avis</small>
                        </div>
                        <img class="img-card" src="http://placehold.it/1000x400" alt="appartement igloo" title="appartement igloo" width="1000" height="400">
                        <div class="card-body">
                            <h4 class="card-title">Dormir dans un arbre !</h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias error eveniet libero magni optio porro quasi recusandae, reprehenderit unde voluptatem.
                            </p>
                            <a href="#" class="btn btn-secondary">En savoir +</a>
                        </div>
                    </div>
                </div><div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            3 chambres, <strong>155€/nuit</strong> <br>
                            <small>0 avis</small>
                        </div>
                        <img class="img-card" src="http://placehold.it/1000x400" alt="appartement igloo" title="appartement igloo" width="1000" height="400">
                        <div class="card-body">
                            <h4 class="card-title">Dormir dans un chateau !</h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias error eveniet libero magni optio porro quasi recusandae, reprehenderit unde voluptatem.
                            </p>
                            <a href="#" class="btn btn-secondary">En savoir +</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h2 class="h1 mt-3 mb-4">Notre top des propriétaires</h2>
            <div class="row">
                <div class="col">
                    <div class="card border-active mb-3">
                        <div class="card-body">
                            <h4 class="card-title">Laura Martin</h4>
                            <hr>
                            <div class="card-text">
                                <img src="http://placehold.it/64x64" alt="avatar Laura Martin" title="avatar Laura Martin" class="float-left mr-3">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, iste?</p>
                                <a href="#" class="btn btn-success float-right">Découvrir ses biens</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-active mb-3">
                        <div class="card-body">
                            <h4 class="card-title">Mathieu Vincent</h4>
                            <hr>
                            <div class="card-text">
                                <img src="http://placehold.it/64x64" alt="avatar Mathieu Vincent" title="avatar Mathieu Vincent" class="float-left mr-3">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, iste?</p>
                                <a href="#" class="btn btn-success float-right">Découvrir ses biens</a>
                            </div>
                        </div>
                    </div>
            </div>
        </section>


    </div>

{% endblock %}
