@charset "UTF-8";
/* BASE
===============================*/
.img-responsive {
    max-width: 100%;
    height: auto;
}
.img-card {
    height: 200px;
    width: 100%;
    display: block;
}
.container {
    margin-top: 25px;
}
/* AD
===============================*/
.ad-title {
    padding: 2em;
    background-size: cover;
    background-position: center, center;
}
.ad-title h1, .ad-title p {
    color: #FFFFFF;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.carousel-caption h6, .carousel-caption p {
    color: #FFFFFF;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-medium {
    max-width: 64px;
    max-height: 64px;
}

.avatar-mini {
    max-width: 24px;
    max-height: 24px;
}

.avatart-micro {
    max-width: 22px;
    max-height: 22px;
}

/* BODY
===============================*/

/* BOOKING
===============================*/
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    color: firebrick !important;
}
/* FOOTER
===============================*/

/* DIVERS
===============================*/
.clearfix::after {
    content:'';
    clear: both;
    display: block;
    font-size:0;
    line-height: 0;
    margin: 0;
    padding: 0;
}
.repairfix {
    clear:both;
}