@charset "UTF-8";

/* BASE
===============================*/
.img-responsive {
    max-width: 100%;
    height: auto;
}
.img-card {
    height: 200px;
    width: 100%;
    display: block;
}
.container {
    margin-top: 25px;
}

/* BODY
===============================*/
div.container, div.container-fluid {
    margin-top: 20px;
}

.ad_preface {
    padding: 2em;
    background-size: cover;
    background-position: center center;

    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.ad_preface .btn {
    margin-top: 2em;
    font-size: 1.5em;
    line-height: 1.5em;
}
/* AD
===============================*/
.ad-title {
    padding: 2em;
    background-size: cover;
    background-position: center, center;
}
.ad-title h1, .ad-title p {
    color: #FFFFFF;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.carousel-caption h6, .carousel-caption p {
    color: #FFFFFF;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-medium {
    max-width: 64px;
    max-height: 64px;
}

.avatar-mini {
    max-width: 24px;
    max-height: 24px;
}

.avatart-micro {
    max-width: 22px;
    max-height: 22px;
}

/* BOOKING
===============================*/
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    color: firebrick !important;
}

.alert a {
    text-decoration: none;
}

.alert .btn {
        color: white;
    }

/* ADMIN
===============================*/
.admin .page-link {
    background-color: #343a40;
    border:1px solid #343a40 !important;
}
.admin .page-link:hover {
    background-color: #5a5a5a;
}
.admin .page-item.active .page-link {
    background-color: #888888;
}
.admin .page-item.disabled .page-link {
    background-color: #343a40;
}
.admin .page-link:focus{
    -webkit-box-shadow:0 0 0 0.2rem rgba(107,107,107,0.25);
    box-shadow:0 0 0 0.2rem rgba(107,107,107,0.25);
}
/* FOOTER
===============================*/

/* DIVERS
===============================*/
.clearfix::after {
    content:'';
    clear: both;
    display: block;
    font-size:0;
    line-height: 0;
    margin: 0;
    padding: 0;
}
.repairfix {
    clear:both;
}