{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}

    <div class="container">
        <h1>Oups ! La page que vous recherchez n'existe pas !</h1>
        <p>On n'a sûrement du mal vous renseigner ! Aucun soucis, vous pouvez trouver à l'acceuil ou voir nos dernières annonces !</p>
        <a href="{{ path('home') }}" class="btn btn-primary">Retour à l'accueil</a>
        <a href="{{ path('ads_list') }}" class="btn btn-secondary">Nos Annonces</a>
    </div>

{% endblock %}